[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-{{ K8S_WORK_DIR }}/cfg/kube-apiserver
ExecStart={{ K8S_WORK_DIR }}/bin/kube-apiserver    ${KUBE_LOGTOSTDERR}         \
                        ${KUBE_LOG_LEVEL}           \
                        ${KUBE_ETCD_SERVERS}        \
                        ${KUBE_API_ADDRESS}         \
                        ${KUBE_API_PORT}            \
                        ${NODE_PORT}                \
                        ${KUBE_ADVERTISE_ADDR}      \
                        ${KUBE_ALLOW_PRIV}          \
                        ${KUBE_SERVICE_ADDRESSES}   \
                        ${KUBE_ADMISSION_CONTROL}   \
                        --secure-port=6443 --tls-cert-file={{ K8S_WORK_DIR }}/ssl/apiserver.pem --tls-private-key-file={{ K8S_WORK_DIR }}/ssl/apiserver-key.pem --client-ca-file={{ K8S_WORK_DIR }}/ssl/ca.pem --service-account-key-file={{ K8S_WORK_DIR }}/ssl/apiserver-key.pem
Restart=on-failure

[Install]
WantedBy=multi-user.target