[Unit]
Description=Kubernetes Kube-dns Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=kube-apiserver.service
Requires=kube-apiserver.service

[Service]
WorkingDirectory={{ DNS_WORKDIR }}
EnvironmentFile=-{{ K8S_WORK_DIR }}/cfg/kube-dns
ExecStart={{ K8S_WORK_DIR }}/bin/kube-dns \
            $KUBE_DNS_PORT \
            $KUBE_DNS_DOMAIN \
            $KUBE_DNS_MASTER \
            $KUBE_DNS_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target