[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-{{ K8S_WORK_DIR }}/cfg/kube-controller-manager
ExecStart={{ K8S_WORK_DIR }}/bin/kube-controller-manager   ${KUBE_LOGTOSTDERR} \
                                ${KUBE_LOG_LEVEL}   \
                                ${KUBE_MASTER}
Restart=on-failure

[Install]
WantedBy=multi-user.target