[Unit]
Description=Kubernetes Proxy
After=network.target

[Service]
EnvironmentFile=-{{ K8S_WORK_DIR }}/cfg/kube-proxy
ExecStart={{ K8S_WORK_DIR }}/bin/kube-proxy    ${KUBE_LOGTOSTDERR} \
                    ${KUBE_LOG_LEVEL}   \
                    ${NODE_HOSTNAME}    \
                    ${KUBE_MASTER} \
                    --kubeconfig={{ K8S_WORK_DIR }}/cfg/kube-proxy-config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target